<div id='app'>
<div id="container">
  <h1>Fanboy Reviews </h1>
  <div id="review_container" class="row" style="margin-left: 50px">
    <% @movie_review.each do |movie| %>
      <div class="row" style="margin-top: 0;margin-bottom: 0;margin-left: 50px">
          <h3 style="color: #4a148c"><%= movie.title%></h3>
          <p>
            <strong style="color:#263238">Review: </strong>
            <i style="color: #616161"><%= movie.review %></i>
          </p>
      </div>
      <hr style="margin-right: 60px; margin-top: 10px !important; margin-bottom: 10px !important;">
    <% end %>
  </div>
</div>
